{% extends 'beerbar/base.html' %}
{% block body %}
{% load static %}
<html>
<head>
    <title>beerbar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'beerbar/contact.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <div class="main-heading">
        <h1 style="color: #FFF8DC;">Contact</h1>
    </div>
    <div class="main-container">
        <div class="sub-container1">
            <img  src="{% static 'beerbar/images/founder.jpg'%}" width="500" height="500">
        </div>
        <div class="sub-container2">
            <h3>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </h3><br>
            <p>i know you guys have some questions right after seeing my photo in contact us page like</p>
            <ul>
                <li>who am i</li>
                <li>what iam doing in contact page</li>
            </ul>
            <p>Starting form the first my name is Lavan chindaliya , iam here to assist you in case you got stuck anywhere .  </p>
            
            
            <div class="d-flex justify-content-end social_icon">
                <span><i class="fab fa-facebook-square" style='font-size:36px'></i></span>&nbsp &nbsp
                <span><i class='fab fa-snapchat' style='font-size:36px'></i></span>&nbsp &nbsp
                <span><i class="fab fa-twitter" style="font-size: 36px;"></i></span>
            </div>

        </div>
    </div>
<script>
    var currentPage = 'contact';
    var navTag = document.querySelector('.contact');
    if (currentPage == navTag.innerText.toLowerCase()){
        navTag.style.backgroundColor = '#DC143C';
        navTag.style.color = '#FFF8DC';
    }
</script>
</body>
</html>

{% endblock %}